Table of Contents:
1. Problem Statement
1a. System Description
2. Users and Use Cases
2a. Use Case 1
2b. Use Case 2
3. Constraints
4. Requirements
4a. Functional Requirements
4b. Nonfunctional Requirements
4c. Acceptance Criteria
5. Data Flow Diagram
6. Iterations and Deadlines
7. User Interface Wireframe
8. Glossary

2. Users and Use Cases
  Users of this software are employees of CAI and customers of CAI. Employees will have an employee account that allows them to schedule flights, set ticket price, and edit flight status. Customers will have a customer account that allows them to view and purchase flight tickets, check in to flights, and view flight statuses. Customers which have not created an account will only be able to view flights and ticket prices.

2a. Use Case 1
  See Google Doc
  
Glossary 

Account - username and password which allows a user to access the software and perform certain tasks
Arrival - the time a flight arrives 
Baggage Policy - number of allowed bags and cost for these bags 
Board - get onto plane 
Boarding pass - paper that contains a code that a passenger needs to board a plane 
Check in - customer logs on and confirms that they are planning to get on a flight and recieves a boarding pass 
Clearance - amount of time needed between planes on a runway 
Departure - the time a flight leaves 
Flight - a plan trip from one airport to another 
Flight status - whether a flight is on time, delayed, or canceled 
Passenger - a customer on board a flight 
Round trip - a series of two flights to and then from a destination 
Runway - an open space where the plan takes off and lands
